apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: todo-k8s
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      initContainers:
      - name: wait-for-db
        image: busybox:latest
        command: ['sh', '-c', 'until nc -z mariadb 3306; do echo waiting for db; sleep 2; done']

      containers:
        - name: todolist
          image: ghcr.io/bennyro-mta/todolist:1.8
          ports:
            - containerPort: 5000
          env:
            - name: MYSQL_HOST
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: MYSQL_HOST

            - name: MYSQL_USER
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: MYSQL_USER

            - name: MYSQL_DB
              valueFrom:
                configMapKeyRef:
                  name: todo-config
                  key: MYSQL_DB
                  
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: todo-secret
                  key: MYSQL_ROOT_PASSWORD

      imagePullSecrets:
        - name: ghcr-login-secret
